In [1]:
import numpy as np

In [2]:
import sklearn

## load dataset and preproccessing

In [3]:
from sklearn.datasets import load_diabetes

In [4]:
data = load_diabetes ()

In [5]:
x= data.data
x.shape

(442, 10)

In [6]:
y=data.target
y.shape

(442,)

In [7]:
x[1,1]

-0.044641636506989

In [8]:
data.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [9]:
import pandas as pd

In [10]:
dataframe=pd.DataFrame(x,columns=['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'])

In [11]:
dataframe['target']=y

In [12]:
dataframe.head(10)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
5,-0.092695,-0.044642,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041180,-0.096346,97.0
6,-0.045472,0.050680,-0.047163,-0.015999,-0.040096,-0.024800,0.000779,-0.039493,-0.062913,-0.038357,138.0
7,0.063504,0.050680,-0.001895,0.066630,0.090620,0.108914,0.022869,0.017703,-0.035817,0.003064,63.0
8,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
9,-0.070900,-0.044642,0.039062,-0.033214,-0.012577,-0.034508,-0.024993,-0.002592,0.067736,-0.013504,310.0

In [13]:
dataframe.loc[[2,3],['sex','age']]

        sex       age
2  0.050680  0.085299
3 -0.044642 -0.089063

In [14]:
dataframe.iloc[1]

age       -0.001882
sex       -0.044642
bmi       -0.051474
bp        -0.026328
s1        -0.008449
s2        -0.019163
s3         0.074412
s4        -0.039493
s5        -0.068330
s6        -0.092204
target    75.000000
Name: 1, dtype: float64

In [15]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
 10  target  442 non-null    float64
dtypes: float64(11)
memory usage: 38.1 KB

In [16]:
dataframe.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,442.000000
mean,-3.634285e-16,1.308343e-16,-8.045349e-16,1.281655e-16,-8.835316e-17,1.327024e-16,-4.574646e-16,3.777301e-16,-3.830854e-16,-3.412882e-16,152.133484
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,77.093005
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01,25.000000
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02,87.000000
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03,140.500000
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02,211.500000
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01,346.000000

## importing models

In [17]:
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from sklearn .neural_network import MLPRegressor
from sklearn.svm import SVR,LinearSVR
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.decomposition import PCA,KernelPCA,IncrementalPCA

In [18]:
from sklearn.model_selection import train_test_split
from sklearn. metrics import mean_squared_error, mean_absolute_error

## function to train different models

In [19]:
def regression (x, y):
    m1 = GradientBoostingRegressor ()
    m2 = MLPRegressor ()
    m3 = LinearSVR ()
    m4 = DecisionTreeRegressor ()
    m5 = LinearRegression ()

    models = [m1,m2,m3,m4,m5]

    MSE = []
    MAE = []
    x_train,x_test,y_train,y_test= train_test_split(x,y)
    for model in models:
        
        y_pred = model.fit (x_train, y_train).predict (x_test)
        mse = mean_squared_error (y_test, y_pred)
        mae = mean_absolute_error (y_test, y_pred)
        MSE.append(mse)
        MAE.append(mae)
        
    print('The mean squared error (MSE) on test set: = {} \n'.format(MSE))
    print('The mean absolute error (MAE) on test set = {}  \n' .format (MAE))
    print('sorted_MSE: {} \n '. format (np.argsort(MSE)))
              
    best_model = models[np.argsort(MSE)[0]]      
    print('best model: {} \n'.format(str(best_model)))
          
    y_pred = best_model.fit (x_train, y_train).predict (x_test)
    print( mean_absolute_error(y_pred,y_test))
    
    return y_pred

In [20]:
y_pred =regression(x,y)

The mean squared error (MSE) on test set: = [3185.770007723676, 23179.79553474787, 7704.276481712846, 7090.738738738739, 2359.748725693802]

The mean absolute error (MAE) on test set = [44.44725469618727, 132.7516665544571, 69.04434538910377, 65.65765765765765, 39.84404947343283]

sorted_MSE: [4 0 3 2 1]

best model: LinearRegression()

39.84404947343283

C:\Users\marziyeh\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

## pca

In [21]:
dim_red = PCA (n_components=5)

In [23]:
x_red = dim_red.fit_transform (x)

In [25]:
regression(x_red,y)

The mean squared error (MSE) on test set: = [4026.370485530998, 26184.319309933322, 9015.698674463849, 8122.045045045045, 3179.076106493407]

The mean absolute error (MAE) on test set = [52.26427277904853, 142.39929806122058, 76.39393804143951, 71.90090090090091, 45.07880691311963]

sorted_MSE: [4 0 3 2 1]

best model: LinearRegression()

45.07880691311963

C:\Users\marziyeh\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

array([197.01210352,  82.23557679, 171.38757711, 148.07573275,
       160.47898064, 190.55491463, 156.45803731, 230.94720726,
       226.98681795, 127.00700962, 113.57990445, 130.60849644,
       117.67604235, 184.32673435, 147.49383139,  81.00361945,
       179.47780595, 105.54925312, 250.22550612, 172.04945452,
       176.99603304, 121.41434134,  66.55627343, 202.622172  ,
       155.67976226, 234.68548653, 198.43949595, 104.77879958,
        71.78372305, 147.06610086, 143.42155651, 107.72523585,
       106.78728187, 114.59337893, 157.12774105, 180.90893851,
       210.77149969, 104.67672614, 131.57694113, 198.82618484,
       150.71088459, 154.23807316, 216.03349338, 191.85021014,
       177.18851724, 155.73762757, 123.92389296, 160.27443187,
        69.82398883, 105.91212204, 151.70427825, 232.40276521,
        85.55019011, 132.25568357, 110.47389153, 180.94137603,
       255.23192675, 115.30376954, 153.21025053, 117.87629746,
       110.89879332, 225.94951766, 118.64931656, 240.8057887 ,
       139.73126546,  62.28384768, 205.47853203, 172.74826205,
       127.52294149, 176.22038274,  87.79412773, 120.99724419,
       100.58822504,  85.67309438, 232.4765974 , 150.92734434,
       202.7661138 , 147.91289696, 117.41846104, 155.43719785,
       202.20500402, 216.18941457, 203.9586121 , 198.23372266,
       119.54139141, 261.22539796,  83.27157486, 152.77258112,
       142.14761355, 113.4704299 , 298.29272202, 197.16464594,
       190.20388334,  47.98063734, 288.12682824, 172.56850373,
       110.1169708 , 188.46955335, 102.20921924,  77.94386485,
       112.18484839,  90.70640103, 180.71581152, 179.37925601,
       161.301646  , 150.87677852,  79.86003448, 176.23809269,
       115.24833498, 227.89281226, 190.51225741])

## feature selection

#### RFE for Regression

In [35]:
from numpy import mean
from numpy import std
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.feature_selection import RFE
from sklearn.pipeline import Pipeline

In [38]:
rfe = RFE(estimator=DecisionTreeRegressor(), n_features_to_select=5)
model = DecisionTreeRegressor()
pipeline = Pipeline(steps=[('s',rfe),('m',model)])
cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=1)
n_scores = cross_val_score(pipeline, x, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: -64.901 (4.997)

### filter method

In [41]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [43]:
fs = SelectKBest(score_func=f_regression, k=5)
X_selected = fs.fit_transform(x, y)
print(X_selected.shape)

(442, 5)

In [44]:
regression(X_selected,y)

The mean squared error (MSE) on test set: = [3306.2361283781433, 22851.567373691396, 7352.060291296226, 7153.540540540541, 2625.982492424024]

The mean absolute error (MAE) on test set = [45.91683017867025, 133.49644794026872, 63.955974992095655, 67.50450450450451, 40.73117218384319]

sorted_MSE: [4 0 3 2 1]

best model: LinearRegression()

40.73117218384319

C:\Users\marziyeh\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

array([217.13203241, 183.63304684,  53.54806183,  41.10567723,
       200.2479229 , 126.41181248, 154.0836295 ,  86.485712  ,
       111.53967896, 112.52478401, 178.04954372, 175.40224021,
       134.20560633, 241.29384433, 193.77669928, 167.18573532,
       123.9420013 , 104.07775508,  65.84130147, 189.59117406,
       277.28213279, 204.54576609, 208.09922198, 244.51299164,
       217.08730923, 139.64615574, 226.44259657, 203.98625057,
       123.56591937,  51.10206576,  78.78480441, 119.99792524,
       236.62766851, 143.32936799, 163.36882382, 210.3595813 ,
       157.56264883, 174.30206455, 116.52076301, 142.86600006,
       140.18962517,  69.50090686, 233.22573207, 153.19308224,
       180.31899303, 171.59603668, 180.51301287, 173.21041588,
       118.1973632 , 140.14813297, 181.79051124, 203.10417686,
       274.58794282, 164.91000643, 103.06362416, 152.06646899,
       123.49755157, 226.80324365,  88.35925954,  86.27837925,
       208.40076215, 176.80183708, 142.55599117, 136.52481906,
       192.30732182,  59.08577716, 110.69879778, 230.08645758,
       178.28137222, 118.94856951, 171.0653386 ,  94.11759165,
       210.83479085, 200.56199222, 189.58457827, 118.00140416,
       188.42534982, 197.40140565, 121.81893622, 230.37072768,
       172.60401517, 166.53995918, 133.25939012, 130.44232056,
       117.15348618, 133.17589437, 159.45505238, 224.77229234,
       121.95959885, 134.30604505, 287.54640374, 138.23774259,
       166.55293394, 178.61237201,  97.58221271, 133.91360486,
       116.24121023, 191.38858347, 218.91823742, 207.42036176,
       188.56198538, 158.45175477, 182.20864925, 240.88860789,
       141.30031368, 260.49330623, 222.6095453 ,  98.22103076,
        77.95617006, 217.34986424, 105.32614437])

### it made a little differnce